* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linkedinIcon,
.gitIcon {
    width: 2.3rem;
    height: 2.3rem;
}

.layout {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem
}

.layoutProjectPage {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 3rem 1rem

}

header {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 3rem 0rem;
}

main {
    width: 50%;
    padding: 3rem 0rem;
}

.headerNav {
    margin-top: 2rem;
}

ul {
    text-decoration: none;
    list-style: none;
}

.headerNav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.indicators {
    display: inline-block;
    background-color: #38bdf8;
    width: 2rem;
    height: 1px;
    transition: all 100ms ease-in-out;
}

a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
    text-decoration-line: none;
    font-size: 1rem;
}

.unselected:hover .indicators,
.selected .indicators {
    transform: scaleX(2);
    transform-origin: left;
}

.unselected, .selected {
    margin-top: 0.2rem;
    font-size: 1.05rem;
} 

.unselected:hover .sectionNames,
.selected .sectionNames {
    transform: translateX(2rem); 
}

.sectionNames {
    transition: all 100ms ease-in-out;
    font-size: 0.9rem;
}

.headerSocials {
    margin-top: auto;
    display: flex;
    gap: 2rem;
}

.headerTop {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    font-size: 1.1rem;
}

@media (max-width: 1000px) {
    .layout {
        flex-direction: column;
        padding: 0 2rem;
    }

    header {
        height: auto;
        position: static;
        gap: 1.7rem;
        width: auto;
    }

    .linkedinIcon,
    .gitIcon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .headerNav {
        margin: 0;
    }

    main {
        width: 50%;
        padding-top: 0;
        padding-bottom: 3rem;
        width: auto;
    }

}